@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  font-size: 60%;
  font-family: 'montserrat';
  width: 100vw;
  overflow-x: hidden;
}

@media screen and (max-width: 1300px) {
  html {
    font-size: 40%;
  }  
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(1rem + 2vmin);
  color: white;
}

.logoECE {
  width: 20rem;
}

.titleHeader {
  font-family: 'Montserrat';
  font-size: 5rem;
  font-weight: bold;
  color: #f3722c;
}

.App-link {
  color: #61dafb;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 15rem;
}

.dashname{
  color: #000080    ;
  font-family: The Quick Brown Fox Jumps Over The Lazy Dog;
}
.footer{
  display: flex;
  justify-content: center;
  color: white;
  font-size: 0,5em;
  background-color: darkslategrey;
}
.dashboard{
  display: flex;
  justify-content: center;
  background-color: black;
}

.btn-welcome {
  border: 2px solid #f3722c;
  color: #f3722c;
  padding: 1.2rem 2.5rem;
  border-radius: 0.5rem;
  background-color: transparent;
  font-weight: normal;
  font-size: 1.9rem;
  text-align: center;
  text-decoration: none;
  margin-top: 15rem;
}

.btn-welcome:hover {
  border: 0.2rem solid #f3722c;
  color: var(--red-color);
  background-color: #f3722c;
}

/*

.container-fluid{
  height: 37.5em;
}


.row{
  height: 18.75em;
}

.test1{
  background-color:blue;
  width: 20.8125em;
  padding: 7em;
}
.test11{

  background-color:#f3722c;
  width: 6.25em;
  height: 6.25em;

}

.test2{
  background-color:white;
  width: 20.8125em;
}

.test21{
  background-color:#f3722c;
  width: 6.25em;
}

.test3{
  background-color:red;
  width: 20.8125em;
}

.test31{
  background-color:#f3722c;
  width: 6.25em;
}

.test4{
  background-color:grey;
  width: 20.8125em;
}

.test41{
  background-color:#f3722c;
  width: 6.25em;
}

.test5{
  background-color:yellow;
  width: 20.8125em;
}
.test51{
  background-color:#f3722c;
  width: 6.25em;
}
.test6{
  background-color:brown;
  width: 20.8125em;
}
.test61{
  background-color:#f3722c;
  width: 6.25em;
}
*/
.Accueil{
  display: flex;
  overflow: auto;
  justify-content: space-around;
  flex-wrap: wrap;
}

.supAvion{
  display: flex;
  overflow: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.widget{
  background-color: #f3722c;
  color : white;
  width: 45%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;

}

.widget1{
  background-color: #f3722c;
  color : white;
  width: 45%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;
  font-weight: bold;

}

.jesersarien{
  border-radius: 1rem;
}

.temps{
border-width: 0.2rem;
border-bottom: dotted;
border-color: grey;
}

.heure{
  border-width: 0.2rem;
  border-left: dotted;
  border-bottom: dotted;
  border-color: grey;
}

.widget2{
  background-color: #f3722c;
  color : white;
  width: 45%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;
  font-weight: bold;
  /*background-image: url(images/background_widget2.jpg);*/

}
.fondwid{
  background-image: url(images/background_widget2.jpg);
  opacity: 10;
  padding: 0rem;
  margin: 0rem;
  border-radius: 1rem;
  width: 100%;
  height: 101%;
}

/* -------------------WIDGET 3--------------- */

.widget3{
  background-color: grey  ;
  color : white;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;
  padding: 2rem;

}

.imgWidget3 {
  width: 25rem;
}

.widget3container {
  display: flex;
}

.lineChartWidget4 {
  width: 10rem;
  height: 5rem;
}

.monboutton{
  background-color: red;
  color: black;
  border-radius: 1rem;
}

.widget4{
  background-color: #f3722c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color : white;
  width: 50%;
  height: auto;
  border-radius: 1rem;

}

@media screen and (max-width: 1300px) {
  .widget4 {
    width: 100%;
  }

  .widget3 {
    padding: 0;
  }

  .logoECE {
    width: 10rem;
  }
  .titleHeader {
    font-size: 2rem;
  }

  .widget1 {
    width: 100%;
  }

  .widget2 {
    width: 100%;
  }

  .btnHeader {
    padding: 1rem;
  }

}





.widget5{
  background-color: #f3722c;
  color : white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;
}

.widget6{
  background-color: #f3722c;
  color : white;
  width: 100%;
  height: auto;
  padding: 0.2rem;
  margin: 2rem;
  border-radius: 1rem;
}

.recharts-surface {
  margin : 0 auto;
}


.borduredroite{
border-right: solid;
border-color: grey;
border-width: 0.2rem;

}


.bordurebas{
border-bottom: solid;
border-color: grey;
border-width: 0.2rem;

}

/* ------------------FOOTER-------------------- */

.barredubas{
  color: #f3722c;
  display: flex;
  justify-content: center;
}

.columnfooter {
  height: 15rem;
}

.cardFooter {
  width: 100%;
}

.networks-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoEasyJet {
  width: 20rem;
  margin-top: -5rem;
}

.depart{
border-right: dotted;
border-color: grey;
border-width: 0.2rem;
}

.avion1{
  animation-duration: 6s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;

}
.avion2{
  animation-duration: 6s;
  animation-delay: 3s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;

}

.clignotement{
  color: red;
  animation-duration: 2s;
  animation-name: clignoter;
  animation-iteration-count: infinite;
  transition: none;
}
@keyframes clignoter {
  0%   { opacity:1; }
  40%   {opacity:0; }
  100% { opacity:1; }
}

.rechercherVille{
color: white;

}

.barrederecherche{
  color: white;
  width: 30rem;
  height: auto;
  margin: 0.5rem;
  padding-bottom: 0.5rem;

}


.tableau{
  background-color: #87CEEB ;
   width: 100;
   border-radius: 1rem;
   margin-left: 1.5rem;

}
.weather-icon {
  width: 10rem;
}

#today-forecast-more-info {
  margin: 0px;
}

@media screen and (min-width: 425px) {
  .button-load-forecast {
    width: 50% !important;
    margin: auto;
  }
}

@media screen and (max-width: 1300px) {
  .barredubas {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .titleFooter {
    font-size: 0.8rem;
  }  
}

